<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          Usuários
          <small>Listagem</small>
        </h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <%= link_to 'Novo Usuário', new_user_path, class: 'btn btn-primary btn-lg' %>
    <br>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <table id="users-table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th><%= User.human_attribute_name('email') %></th>
                  <th><%= User.human_attribute_name('role') %></th>
                  <th><%= User.human_attribute_name('status') %></th>
                  <th class='actions'>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                <tr>
                  <td class="mobile-contents">
                    <span class="visible-xs"><%= user.email.truncate(30) %></span>
                  </td>
                  <td class="mobile-contents">
                    <%= user.role %>
                  </td>
                  <td class="mobile-contents">
                    <%= user.status %>
                  </td>
                  <td class='actions'>
                    <% if policy(%i[user]).update? %>
                      <%= link_to edit_user_path(user), class: 'btn btn-primary btn-xs' do %>
                        <span><i class="fa fa-edit"></i><b>Editar</b></span>
                      <% end %>
                    <% end %>
                    <% if policy(%i[users inactivate]).create? %>
                      <% if user.active? %>
                        <%= link_to user_inactivate_index_path(user), method: :post, class: 'btn btn-warning btn-xs' do %>
                          <span><i class="fa fa-pause"></i><b>Susp.</b></span>
                        <% end %>
                      <% else %>
                        <%= link_to user_activate_index_path(user), method: :post, class: 'btn btn-success btn-xs' do %>
                          <span><i class="fa fa-play"></i><b>Ativar</b></span>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if policy(%i[user]).destroy? %>
                      <%= button_to user, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-xs' do %>
                        <span><i class="fa fa-remove"></i><b>Apagar</b></span>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <th><%= User.human_attribute_name('email') %></th>
                  <th><%= User.human_attribute_name('role') %></th>
                  <th><%= User.human_attribute_name('status') %></th>
                  <th class='actions'>&nbsp;</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
      <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->