<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= @user.email %>
    <small>Cadastro do Usuário</small>
  </h1>
</section>
<!-- Main content -->
<div class="content">
  <div class="card col-ml-2">
    <div class="card-body col-xs-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header with-border">
          <h3 class="card-title">Dados do Usuário</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6">
              <%= label_tag User.human_attribute_name('email') %>
              <p class="readonly_form_field"><%= @user.email %>&nbsp;</p>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6">
              <%= label_tag User.human_attribute_name('role') %>
              <p class="readonly_form_field"><%= @user.role %>&nbsp;</p>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-2">
              <%= label_tag User.human_attribute_name('status') %>
              <p class="readonly_form_field"><%= @user.status %>&nbsp;</p>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <%= link_to 'Voltar', :back, class: 'btn btn-primary' %>
    </div>
  </div>
</section>

